<!--<p style="padding: 20px">-->
<!--  content works!-->
<!--</p>-->
<section class="jumbotron text-center noselect">
  <div class="container">
    <h1 class="jumbotron-heading" style="font-size: 2em; margin-top: 10px">App Template</h1>
    <p class="lead text-muted" style="font-size: 1em; ">Beispieltext</p>
  </div>
</section>
