/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.mat-sidenav-content {
  min-height: 100vh;
}
/**
  mobile first principle:
  increase the media query width instead of decrease max-width
    ==> overwrite the mobile css for desktop and not vice versa
  @media only screen and (min-device-width: 480px){}
  @media only screen and (min-device-width: 768px){}
  @media only screen and (min-device-width: 1024){}
 */

a:hover, a:active, a:focus {
  background-color: transparent !important;
}

.no-outline{
  margin-left: 10px;
  outline: none !important;
  text-decoration: none !important;
}

/* make text non selectable */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  outline: 0;
}

.no-text-overflow {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

input::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
}

a:-moz-focusring {
  outline: 0px dotted;
}

.borderDecent {
  border-bottom: 2px solid;
  padding-bottom: 10px;
  border-color: lightgrey;
  width: 100%;
}

.light-border {
  border-top: 1px solid rgba(0, 0, 0, .12);
}

a {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.light-grey{
  background-color: rgba(235, 235, 235, 0.5);
}

html {
  margin-bottom: 0px !important;
  padding-bottom: 0 !important;
  font-family: "open sans";
  min-width: 320px;
  min-height: 640px;
}

h1 {
  font-family: "lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  margin: 1.5rem 0 0.75rem 0;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
  font-size: 2.7rem;
  font-weight: 900;
}

h2 {
  font-size: 2.45rem
}

h3 {
  font-size: 14px;
  font-size: 2.2rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

h3.g-title {
  font-size: 1.2rem;
  font-family: "pt_sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  line-height: 0.5
}

h4 {
  font-size: 1.95rem
}

h5 {
  font-size: 1.7rem
}

h6 {
  font-size: 1rem
}

a {
  cursor: pointer
}


p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

hr {
  display: block;
  margin: 4rem 0;
  border-bottom: 1px solid rgba(231, 232, 234, 0.25);
}


blockquote {
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
